DataFactoryCapture/PartialArmTemplates/ArmTemplate_2_26_2021_12_13_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataFactoryCapture"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SacapbdptelePipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SacapbdpteleDataFlows",
								"type": "DataFlowReference",
								"parameters": {
									"BatchSize": {
										"value": "@pipeline().globalParameters.BatchSize",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": {
									"value": "@pipeline().globalParameters.CoreCount",
									"type": "Expression"
								},
								"computeType": {
									"value": "@pipeline().globalParameters.ComputeType",
									"type": "Expression"
								}
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteFileFromStorageAfterMigration",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureStorageSacapbdpteleDataSet",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SacapextnotiPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SacapextnotiDataFlows",
								"type": "DataFlowReference",
								"parameters": {
									"BatchSize": {
										"value": "@pipeline().globalParameters.BatchSize",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": {
									"value": "@pipeline().globalParameters.CoreCount",
									"type": "Expression"
								},
								"computeType": {
									"value": "@pipeline().globalParameters.ComputeType",
									"type": "Expression"
								}
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteFileFromStorageAfterMigration",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureStorageSacapextnotiDataSet",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SacapgbtPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SacapgbtDataFlows",
								"type": "DataFlowReference",
								"parameters": {
									"BatchSize": {
										"value": "@pipeline().globalParameters.BatchSize",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": {
									"value": "@pipeline().globalParameters.CoreCount",
									"type": "Expression"
								},
								"computeType": {
									"value": "@pipeline().globalParameters.ComputeType",
									"type": "Expression"
								}
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteFileFromStorageAfterMigration",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureStorageSacapgbtDataSet",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SacapifscPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SacapifscDataFlows",
								"type": "DataFlowReference",
								"parameters": {
									"BatchSize": {
										"value": "@pipeline().globalParameters.BatchSize",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": {
									"value": "@pipeline().globalParameters.CoreCount",
									"type": "Expression"
								},
								"computeType": {
									"value": "@pipeline().globalParameters.ComputeType",
									"type": "Expression"
								}
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteFileFromStorageAfterMigration",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureStorageSacapifscDataSe",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sacapl3telePipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Sacapl3teleDataFlows",
								"type": "DataFlowReference",
								"parameters": {
									"BatchSize": {
										"value": "@pipeline().globalParameters.BatchSize",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": {
									"value": "@pipeline().globalParameters.CoreCount",
									"type": "Expression"
								},
								"computeType": {
									"value": "@pipeline().globalParameters.ComputeType",
									"type": "Expression"
								}
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteFileFromStorageAfterMigration",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureStorageSacapl3teleDataSet",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SacaplemonPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SacaplemonDataFlows",
								"type": "DataFlowReference",
								"parameters": {
									"BatchSize": {
										"value": "@pipeline().globalParameters.BatchSize",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": {
									"value": "@pipeline().globalParameters.CoreCount",
									"type": "Expression"
								},
								"computeType": {
									"value": "@pipeline().globalParameters.ComputeType",
									"type": "Expression"
								}
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteFileFromStorageAfterMigration",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureStorageSacaplemonDataSet",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SacapoctoPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SacapoctoDataFlows",
								"type": "DataFlowReference",
								"parameters": {
									"BatchSize": {
										"value": "@pipeline().globalParameters.BatchSize",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": {
									"value": "@pipeline().globalParameters.CoreCount",
									"type": "Expression"
								},
								"computeType": {
									"value": "@pipeline().globalParameters.ComputeType",
									"type": "Expression"
								}
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteFileFromStorageAfterMigration",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureStorageSacapoctoDataSet",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SacapsocnissanPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SacapsocnissanDataFlows",
								"type": "DataFlowReference",
								"parameters": {
									"BatchSize": {
										"value": "@pipeline().globalParameters.BatchSize",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": {
									"value": "@pipeline().globalParameters.CoreCount",
									"type": "Expression"
								},
								"computeType": {
									"value": "@pipeline().globalParameters.ComputeType",
									"type": "Expression"
								}
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteFileFromStorageAfterMigration",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureStorageSacapsocnissanDataSet",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SacapsocrenaultPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SacapsocrenaultDataFlows",
								"type": "DataFlowReference",
								"parameters": {
									"BatchSize": {
										"value": "@pipeline().globalParameters.BatchSize",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": {
									"value": "@pipeline().globalParameters.CoreCount",
									"type": "Expression"
								},
								"computeType": {
									"value": "@pipeline().globalParameters.ComputeType",
									"type": "Expression"
								}
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteFileFromStorageAfterMigration",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureStorageSacapsocrenaultDataSet",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SacaptwtPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SacaptwtDataFlows",
								"type": "DataFlowReference",
								"parameters": {
									"BatchSize": {
										"value": "@pipeline().globalParameters.BatchSize",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": {
									"value": "@pipeline().globalParameters.CoreCount",
									"type": "Expression"
								},
								"computeType": {
									"value": "@pipeline().globalParameters.ComputeType",
									"type": "Expression"
								}
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteFileFromStorageAfterMigration",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ExternalNotificationEventHubCopyTheDataFromFileToSql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureStorageSacaptwtDataSet",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureStorageSacapbdpteleTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SacapbdptelePipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/capturecontainer/blobs/",
					"blobPathEndsWith": ".avro",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/f505aa4b-46bf-475e-a8cc-14aed61caf34/resourceGroups/Test-Azure-Event-Hub-Capture/providers/Microsoft.Storage/storageAccounts/devemeasacapbdptele",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SacapbdptelePipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureStorageSacapextnotiTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SacapextnotiPipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/capturecontainer/blobs/",
					"blobPathEndsWith": ".avro",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/f505aa4b-46bf-475e-a8cc-14aed61caf34/resourceGroups/Test-Azure-Event-Hub-Capture/providers/Microsoft.Storage/storageAccounts/devemeasacapextnoti",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SacapextnotiPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureStorageSacapgbtTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SacapgbtPipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/capturecontainer/blobs/",
					"blobPathEndsWith": ".avro",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/f505aa4b-46bf-475e-a8cc-14aed61caf34/resourceGroups/Test-Azure-Event-Hub-Capture/providers/Microsoft.Storage/storageAccounts/devemeasacapgbt",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SacapgbtPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureStorageSacapifscTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SacapifscPipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/capturecontainer/blobs/",
					"blobPathEndsWith": ".avro",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/f505aa4b-46bf-475e-a8cc-14aed61caf34/resourceGroups/Test-Azure-Event-Hub-Capture/providers/Microsoft.Storage/storageAccounts/devemeasacapifsc",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SacapifscPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureStorageSacapl3teleTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Sacapl3telePipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/capturecontainer/blobs/",
					"blobPathEndsWith": ".avro",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/f505aa4b-46bf-475e-a8cc-14aed61caf34/resourceGroups/Test-Azure-Event-Hub-Capture/providers/Microsoft.Storage/storageAccounts/devemeasacapl3tele",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Sacapl3telePipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureStorageSacaplemonTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SacaplemonPipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/capturecontainer/blobs/",
					"blobPathEndsWith": ".avro",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/f505aa4b-46bf-475e-a8cc-14aed61caf34/resourceGroups/Test-Azure-Event-Hub-Capture/providers/Microsoft.Storage/storageAccounts/devemeasacaplemon",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SacaplemonPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureStorageSacapoctoTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SacapoctoPipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/capturecontainer/blobs/",
					"blobPathEndsWith": ".avro",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/f505aa4b-46bf-475e-a8cc-14aed61caf34/resourceGroups/Test-Azure-Event-Hub-Capture/providers/Microsoft.Storage/storageAccounts/devemeasacapocto",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SacapoctoPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureStorageSacapsocnissanTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SacapsocnissanPipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/capturecontainer/blobs/",
					"blobPathEndsWith": ".avro",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/f505aa4b-46bf-475e-a8cc-14aed61caf34/resourceGroups/Test-Azure-Event-Hub-Capture/providers/Microsoft.Storage/storageAccounts/devemeasacapsocnissan",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SacapsocnissanPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureStorageSacapsocrenaultTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SacapsocrenaultPipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/capturecontainer/blobs/",
					"blobPathEndsWith": ".avro",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/f505aa4b-46bf-475e-a8cc-14aed61caf34/resourceGroups/Test-Azure-Event-Hub-Capture/providers/Microsoft.Storage/storageAccounts/devemeasacapsocrenault",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SacapsocrenaultPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureStorageSacaptwtTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SacaptwtPipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/capturecontainer/blobs/",
					"blobPathEndsWith": ".avro",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/f505aa4b-46bf-475e-a8cc-14aed61caf34/resourceGroups/Test-Azure-Event-Hub-Capture/providers/Microsoft.Storage/storageAccounts/devemeasacaptwt",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SacaptwtPipeline')]"
			]
		}
	]
}